<h1>Stupid Couching</h1>
<div id=answer-form>
  <div id="question">
    <p><%= params[:question] %></p>
    <p class="label">-your question</p>
  </div>
  <div id="answer">
    <p><%= @answer %></p>
    <p class="label">-your couch</p>
  </div>
  <p style="text-align: center"><%= link_to "Ask a new question!", ask_path %></p>
</div>
