<h1>Stupid Couching</h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="I am your couch, say something to me!" id="ask">
  <input type="submit" value="Ask!">
</form>
